header{
    height: 60vh;
}
body{
    background-color: black;
}
h2,h1,h5,p{
    color: white;
}
.card{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: darkslategray;
}
.card:hover{
    transform: scale(1.05);
}
nav{
    height: 10vh;
}
/* this is also a random comment */

